# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ApiLivros.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\juncal\RiderProjects\ApiLivros\.idea\.idea.ApiLivros\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
